<div class="col-md-4 m-auto">
  <div class="card card-body text-center">
    <h1>Netgo Treeplanting</h1>
    <h1>
      <a href="/welcome"><img src="/assets/Baum.png" height="250px" width="250px"></a>
    </h1>
    <div class="card card-body text-center">
      <p>Erstelle einen Account oder melde dich an</p>
      <a routerLink="/register" class="btn btn-primary btn-block mb-2">Registrieren</a>
      <a routerLink="/login" class="btn btn-secondary btn-block">Einloggen</a>
    </div>
  </div>
</div>