<div class="col-md-6 m-auto">
    <div class="card card-body" id="card">
        <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i> Registrieren</h1>
        <form action="/users/register" method="POST">
            <div class="form-group mb-1">
                <form action="#.ext" [formGroup]="reactiveForm">
                    <label for="name">Name </label>
                    <input required type="text" id="name" name="name" pattern="\w{0,10}" placeholder="Name eingeben *"
                        title="Bitte den Namen angeben" class="form-control" formControlName="name">
                </form>
            </div>
            <div class="form-group mb-1">
                <form action="#.ext" [formGroup]="reactiveForm">
                    <label for="email">Email </label>
                    <input #email required type="email" id="email" name="email"
                        pattern="[\w\W]{1,}[@]{1,}\w{1,}[.]{1,}\w{1,}" placeholder="Email eingeben *"
                        title="Eine echte E-mail angeben" class="form-control" formControlName="email">
                </form>
            </div>
            <div class="form-group mb-3">
                <form action="#.ext" [formGroup]="reactiveForm">
                    <label for="password">Passwort </label>
                    <input required type="password" id="password" name="password"
                        pattern="(?=.{8,}$)(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*\W).*" placeholder="Password *"
                        title="Passwort muss mindestens 8 Zeichen lang sein und muss Großbuchstaben, Kleinbuchstaben, Zahlen und Sonderzeichen enthalten!"
                        class="form-control" formControlName="password">
                </form>
            </div>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="reactiveForm.invalid"
                (click)="addUser();">
                Registrieren
            </button>
        </form>
        <p class="lead mt-4">Haben sie ein Account?<a routerLink="/login">Einloggen</a></p>
    </div>
</div>